<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Suvanjan's Blog</title>
</head>
<body>
<table id="main-layout-table">
	<tr id="main-header">
		<td colspan="3">
			<h1>Suvanjan's Blog</h1>
		</td>
	</tr>
	<tr id="main-links">
		<td>
			<a href="/">Home</a>
		</td>
		<td>
			<a href="/newpost">New Entry</a>
		</td>
		<td>
			{% if logged_in_user %}
				{{ logged_in_user }} <a href="/logout">Log Out</a>
			{% else %}
				<a href="/signup">Sign Up</a>
				<a href="/login">Login</a>
			{% endif %}
		</td>
	</tr>
	<tr>
	<td id="content" colspan="3">
		{% block content %}
  		{% endblock %}
	</td>
	</tr>
</table>
</body>
</html>